@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply w-6 h-9 lg:w-9 rounded-full lg:p-1 cursor-pointer  lg:hover:bg-gray-100 transition-all ease-in-out;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
